*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.right-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3);
}
form input{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(218, 214, 214);
    outline: none;
    font-size: 16px;
}
form input:focus{
    border-color: #719ECE;
    box-shadow: 0 0 8px #719ECE;
}
.left-container{
    width: 550px;
    align-items: flex-start;
    margin-left: 12%;
}
.left-container h1{
    font-size: 60px;
    color: #1877f2;
    margin-bottom: 2%;
    font-family: 'Arial';
}
.left-container p{
    font-size: 30px;
    height: 200px;
    font-family: "Roboto Condesend", sans-serif;
}
.right-container{
    width: 400px;
    margin-right: 12%;
}
.right-container #a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.loginBtn{
    background-color: #1877f2;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 700;
    transition: 0.5s;
}
.loginBtn:hover{
    background-color: #4257b2;
}
.forget{
    margin: 15px 0;
    text-decoration: none;
    color: #1877f2;
    font-family: 'Arial';
    font-size: 14px;
}
.signBtn{
    background-color: #42b72a;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-family: 'Arial';
    font-weight: 600;
    transition: 0.5s;
}
.signBtn:hover{
    background-color: green;
}
.signup{
    padding-top: 20px;
    border-top: 1px solid rgb(199, 197, 197);
    width: 100%;
    display: flex;
    justify-content: center;
}
footer{
    width: 100%;
    padding: 3%;
    background-color: white;
}
#footer{
    display: flex;
    flex-direction: column;
    /*align-content: center;
    justify-content: space-around;*/
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}

#footer1{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    border-bottom: 1px solid #E6E6E6;
    line-height: 30px;
    font-size: 16px;
    color: #848484;
}
#footer1 a {
    color: #848484;
    display: inline;
    margin-left: 10px;
    text-decoration: none;
}
#footer1 a:hover {
    text-decoration: underline;
}

#footer2 {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    font-size: 14px;
    color: #848484;
    margin-top: 1%;
    margin-bottom: 4px;
}
#footer2 a {
    display: inline-block;
    margin-top: 1px;
    margin-left: 2px;
    min-width: 80px;
    text-decoration: none;
    color: #848484;
}

#footer2 a:hover {
    text-decoration: underline;
}
#icon-btn{
    padding: 3px 8px;
    margin-left: 8px;
}
#meta{
    margin-top: 12px;
    font-size: 16px;
    color: #848484;
}
@media(max-width:950px){
    .container{
        flex-direction: column;
    }
    .left-container{
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 20%;

    }
    .right-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-bottom: 15%;
        /*margin-right: -12%;*/
        /*margin-top: 15%;*/
    }
    
    .left-container p{
        height: 75px;
        font-size: 25px;
    }
    
}
